header{
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 100%;
    height: 89px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.header-box{
    width: 960px;
    margin: 0 auto;
}

body{
    background-image: url("../images/qbkls.png");
    background-color: #ffffff;
    margin-top: 0;
}

a{
    color: #777777;
    text-decoration: none;
}

#name{
    background-color: #4aaaa5;
    color: #ffffff;
    /* float: left; */
    /* padding: 11px; */
    padding: 5px 30px;
    position: absolute;
    bottom: 0px;
}

#contact{
    float: right;
    margin: 37px 0px;
    padding: 0px 16px;
    color: #777777;
}

#about{
    float: right;
    margin: 37px 0px;
    padding: 0px 16px;
    color: #777777;
    border-right: solid #cccccc;
}

#portfolio{
    float: right;
    margin: 37px 0px;
    padding: 0px 16px;
    color: #777777;
    border-right: solid #cccccc;
}

#content{
    width: 900px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 30px;
    background-color: #ffffff;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

#about-me{
    padding: 20px 0px;
    color: #4aaaa5;
    font-size: 28px;
}

.bottom-border{
    border-bottom: solid #dddddd;
}

img{
    float: left;
    margin-right: 30px;
}

.bio{
    line-height: 2;
    color: #777777;
}

#contact-form{
    padding: 20px 0px;
    color: #4aaaa5;
    font-size: 28px;
}

.name-email{
    width: 100%;
    height: 20px;
}

#message{
    width: 100%;
    height: 160px;
}

form{
    color: #777777;
}

.project-title{
    background-color: #4aaaa5;
    color: #ffffff      ;
    padding: 16px 91px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    text-align: center;
}

.project{
    position: relative;
    display: inline-block;
}

#footer{
    background-color: #666666;
    color: #afaca1;
    text-align: center;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    line-height: 6.5;
    font-size: 12px;
    margin: 0px;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    z-index: 2;
}

#teal-line{
    background-color: #4aaaa5;
    width: 100%;
    height: 8px;
    position: fixed;
    bottom: 50px;
    margin-left: 0px;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
  }

  @media only screen and (max-width: 980px){
      #content{
          margin-left: 5%;
          width: 60%;
      }

      .header-box{
          width: 91%;
      }
  }

  @media only screen and (max-width: 768px){
    #content{
        width: 85%;
        margin: 0 auto;
    }
    .header-box{
        width: 91%;
    }
  }

  @media only screen and (max-width: 640px){
      header{
          position: static;
          height: 100%;
      }
      #name{
          text-align:center;
          position: static;
      }
      #contact{
          float: none;
          display: inline-block;
      }
      #portfolio{
          float: none;
          display: inline-block;
      }
      #about{
          float: none;
          display: inline-block;
      }
      #links{
          margin-left: 25%;
          margin-top: -4%;
          margin-bottom: -4%;
      }
  }